<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.theme_color | default: '#ffffff' }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
    <link id="favicon-light" rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-dark.png" media="(prefers-color-scheme: light)">
    <link id="favicon-dark" rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-light.png" media="(prefers-color-scheme: dark)">
    <script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    >
    {% seo %}
</head>
